<div class="container">
    <h2>Edit Income</h2>
    <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
      <!-- Champ pour le montant -->
      <div class="form-group">
        <label for="amount">Amount</label>
        <input
          id="amount"
          type="number"
          class="form-control"
          formControlName="amount"
        />
      </div>
  
      <!-- Champ pour la date -->
      <div class="form-group">
        <label for="date">Date</label>
        <input
          id="date"
          type="date"
          class="form-control"
          formControlName="date"
        />
      </div>
  
      <!-- Champ pour la source -->
      <div class="form-group">
        <label for="source">Source</label>
        <input
          id="source"
          type="text"
          class="form-control"
          formControlName="source"
        />
      </div>
  
      <!-- Sélecteur pour le compte -->
      <div class="form-group">
        <label for="projetId">Projet</label>
        <select
          id="projetId"
          class="form-control"
          formControlName="projetId"
        >
          <option value="">Select Projet</option>
          <option *ngFor="let projet of projets" [value]="projet.id">
            {{ projet.nom }} - {{ projet.type }}
          </option>
        </select>
      </div>
  
      <!-- Bouton de soumission -->
      <button type="submit" class="btn btn-primary" [disabled]="expenseForm.invalid">Submit</button>
    </form>
  </div>
