<div class="container mt-4">
    <div class="card shadow-lg">
      <div class="card-header bg-primary text-white text-center">
        <h2 class="mb-0">Liste des Comptes</h2>
      </div>
      <div class="card-body">
        <table class="table table-striped table-hover">
          <thead class="table-dark text-uppercase text-center">
            <tr>
              <th>ID</th>
              <th>Nom</th>
              <th>Solde</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let account of accounts" class="text-center">
              <td>{{ account.id }}</td>
              <td>{{ account.name }}</td>
              <td>{{ account.balance  }} TND</td>
              <td>
                <span class="badge bg-success" *ngIf="account.type === 'BANK'">BANK</span>
                <span class="badge bg-warning" *ngIf="account.type === 'POST'">POST</span>
                <span class="badge bg-info" *ngIf="account.type === 'WALLET'">WALLET</span>
                    
              
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <a [routerLink]="['accounts/new']"> Nouveau Compte </a>
   
      
        </div>
  