<div class="modal-header">
  <h5 class="modal-title">Add new Task </h5>
  <button type="button" class="btn-close" (click)="close()"></button>
</div>
<div class="modal-body">

  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" id="title" formControlName="title">
      <div class="error" *ngIf="taskForm.get('title')?.invalid && taskForm.get('title')?.touched">
        <span class="mb-1 me-2 badge font-medium bg-light-danger text-danger"> <small
            *ngIf="taskForm.get('title')?.hasError('required')">Title is required.</small>

        </span>
        <span class="mb-1 me-2 badge font-medium bg-light-danger text-danger"> <small
            *ngIf="taskForm.get('title')?.hasError('minlength')">Title must be at least 5 characters long.</small>

        </span>
        <span class="mb-1 me-2 badge font-medium bg-light-danger text-danger"> <small
            *ngIf="taskForm.get('title')?.hasError('maxlength')">Title cannot exceed 100 characters.</small>

        </span>

      </div>
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea id="description" formControlName="description"></textarea>
      <div class="error" *ngIf="taskForm.get('description')?.invalid && taskForm.get('description')?.touched">
        <span class="mb-1 me-2 badge font-medium bg-light-danger text-danger"> <small
            *ngIf="taskForm.get('description')?.hasError('required')">Description is required.</small>

        </span>
        <span class="mb-1 me-2 badge font-medium bg-light-danger text-danger"> <small
            *ngIf="taskForm.get('description')?.hasError('minlength')">Description must be at least 10 characters
            long.</small>

        </span>
        <span class="mb-1 me-2 badge font-medium bg-light-danger text-danger">
        </span>
        <span class="mb-1 me-2 badge font-medium bg-light-danger text-danger"> <small
            *ngIf="taskForm.get('description')?.hasError('maxlength')">Description cannot exceed 500 characters.</small>

        </span>

      </div>
    </div>

    <div class="form-group">
      <label for="status">Status:</label>
      <select id="status" formControlName="status">
        <option value="TODO">Pending</option>
        <option value="IN_PROGRESS">In Progress</option>
        <option value="DONE">Completed</option>
      </select>
      <div class="error" *ngIf="taskForm.get('status')?.invalid && taskForm.get('status')?.touched">
        <span class="mb-1 me-2 badge font-medium bg-light-danger text-danger"> <small
            *ngIf="taskForm.get('status')?.hasError('required')">Status is required.</small>

        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="dateStart">Date Start:</label>
      <input type="datetime-local" id="dateStart" formControlName="dateStart">
      <div class="error" *ngIf="taskForm.get('dateStart')?.invalid && taskForm.get('dateStart')?.touched">
        <span class="mb-1 me-2 badge font-medium bg-light-danger text-danger"> <small
            *ngIf="taskForm.get('dateStart')?.hasError('required')">Start date is required.</small>

        </span>
        <span class="mb-1 me-2 badge font-medium bg-light-danger text-danger"> <small
            *ngIf="taskForm.get('dateStart')?.hasError('futureDate')">Start date must be in the future.</small>

        </span>

      </div>
    </div>
    <div class="form-group">
      <label for="dateEnd">Date End:</label>
      <input type="datetime-local" id="dateEnd" formControlName="dateEnd">
      <div class="error" *ngIf="taskForm.get('dateEnd')?.invalid && taskForm.get('dateEnd')?.touched">
        <span class="mb-1 me-2 badge font-medium bg-light-danger text-danger"> <small
            *ngIf="taskForm.get('dateEnd')?.hasError('required')">End date is required.</small>

        </span>
        <span class="mb-1 me-2 badge font-medium bg-light-danger text-danger"> <small
            *ngIf="taskForm.get('dateEnd')?.hasError('futureDate')">End date must be in the future.</small>

        </span>

      </div>
    </div>
    <button type="submit" class="btn" [disabled]="taskForm.invalid">Create Task</button>
  </form>

</div>
<div class="modal-footer">
  
</div>