  <app-top-cards></app-top-cards>
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<app-project-statistics></app-project-statistics> 
<div class="row">
  <div class="col-lg-7">
    <!-- Vous pouvez ajouter ici un graphique ou un autre contenu -->
   
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<div class="row">
  <!-- column -->
  <app-performance></app-performance>
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- cards -->
<!-- ============================================================== -->
<app-blog-cards></app-blog-cards>
<!-- ============================================================== -->
<!-- cards -->
<!-- ============================================================== -->
