<form (ngSubmit)="saveProduit()">
    <div class="form-group">
        <label for="nomP">Nom</label>
        <input type="text" id="nomP" class="form-control" [(ngModel)]="produit.nomP" name="nomP" required />
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" class="form-control" [(ngModel)]="produit.description" name="description"
            required />
    </div>
    <div class="form-group">
        <label for="reference">Référence</label>
        <input type="text" id="reference" class="form-control" [(ngModel)]="produit.reference" name="reference"
            required />
    </div>
    <div class="form-group">
        <label for="categorie">Categorie</label>

        <select id="categorie" class="form-select" [(ngModel)]="produit.categorieId" name="categorie" required>
            <option value="" disabled>Select a Category</option>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.nom }}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="categorie">Fournisseur</label>

        <select id="categorie" class="form-select" [(ngModel)]="produit.fournisseurId" name="fournisseur" required>
            <option value="" disabled>Select a Fournisseur</option>
            <option *ngFor="let fournisseur of fournisseurs " [value]="fournisseur.idF">{{ fournisseur.nom }}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="image">Product Image</label>
        <input type="file" id="image" class="form-control" (change)="onFileSelected($event)" accept="image/*" />
    </div>
    <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="number" id="quantity" class="form-control" [(ngModel)]="produit.quantity" name="quantity" required
            min="1" />
    </div>

    <!-- Price Input -->
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" id="price" class="form-control" [(ngModel)]="produit.price" name="price" required min="0"
            step="0.01" />
    </div>
    <button type="submit" class="btn btn-primary">{{ selectedProduct? "Modifier Produit":"Ajouter Produit"}}</button>
</form>