<div class="container mt-4">
    <div class="card shadow-lg">
      <div class="card-header bg-primary text-white text-center">
        <h2 class="mb-0">Liste des projets</h2>
      </div>
      <div class="card-body">
        <table class="table table-striped table-hover">
          <thead class="table-dark text-uppercase text-center">
            <tr>
              <th>ID</th>
              <th>Nom</th>
              <th>Adresse</th>
              <th>Type</th>
              <th></th>
               
              <th>Actions</th>
              <th></th>
              <th></th>
              <th></th>
              
               
            </tr>
          </thead><nav></nav>
          <tbody>
            <tr *ngFor="let projet of projets" class="text-center">
              <td>{{ projet.id }}</td>
              <td>{{ projet.nom }}</td> <!-- Updated to match interface property -->
              <td>{{ projet.adresse }}</td> <!-- Updated to match interface property -->
              <td>
                <span class="badge bg-success" *ngIf="projet.projetType.toUpperCase() === 'BATIMENT'">BATIMENT</span>
                <span class="badge bg-warning" *ngIf="projet.projetType.toUpperCase()  === 'ROUTE'">ROUTE</span>
                <span class="badge bg-info" *ngIf="projet.projetType.toUpperCase()  === 'PONT'">PONT</span>
              </td>
              <td><a class="btn btn-success" [routerLink]="['/dashboard/projets/', projet.id]">Show</a></td>
              <td><a class="btn btn-warning" [routerLink]="['/dashboard/projets/edit', projet.id]">Edit</a></td>
              <td><button class="btn btn-danger" (click)="onDelete(projet.id)">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <a class="btn btn-secondary" [routerLink]="['/dashboard/projets/new']">New Projet</a>
  </div>
  