<div class="container">
    <h2>Project List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>Expected End Date</th>
                <th>Budget</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let projet of projets">

                <td>{{ projet.nom }}</td>
                <td>{{ projet.description }}</td>
                <td>{{ projet.dateDebut | date }}</td>
                <td>{{ projet.dateFinPrevue | date }}</td>
                <td>{{ projet.budget | currency }}</td>
                <td>{{ projet.etat }}</td>
                <td>
                    <!-- Example template where the button is located -->
                    <button class="btn btn-primary" [routerLink]="['/update', projet.id]">Edit</button> <button class="btn btn-danger" (click)="deleteProjet(projet.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>